<div class="container d-flex flex-column">
  <h3>
    <%= @restaurant.name.chomp(".") %>
  </h3>
  <ul class="list-group mb-3">
    <li class="list-group-item">
      <strong>Find us here: </strong>
      <%= @restaurant.address %>
    </li>
    <li class="list-group-item">
      <strong>Category: </strong>
      <%= @restaurant.category.capitalize %>
    </li>
    <li class="list-group-item">
      <strong>Contact: </strong>
      <%= @restaurant.phone_number %>
    </li>
    <li class="list-group-item">
      <strong>Reviews: </strong>
      <ol class="list-group">
        <li class="list-group-item">
          <%= render "reviews/new", restaurant: @restaurant %>
        </li>
        <% @restaurant.reviews.each do |r|%>
          <li class="list-group-item">
            <p><%= r.rating %></p>
            <p><%= r.content %></p>
          </li>
        <% end %>
      </ol>
    </li>
  </ul>
  <div>
    <%= link_to "Go home", restaurants_path, class: "btn btn-primary"%>
  </div>
</div>
